@import "./colors.scss";

.card-shadow {
    box-shadow: 0 8px 6px -6px $border-color;
    border-radius: 2px;
}

.card-shadow-accented {
    border-color: $primary-color;
    box-shadow: 0 8px 6px -6px $primary-color;
    border-radius: 2px;
    transition-property: border-color;
    transition-duration: 0.2s;
}