@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.footer-wrapper {
    margin-top: 2em;
    padding: 0 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;

    hr {
        width: 900px;
        height: 0;
        color: $gray-light;
        border: 1px solid $gray-light;

        @media (max-width: $breakpoint-md) {
            width: 360px;
        }
    }

    .footer-root {
        display: grid;
        grid-template-columns: max-content max-content max-content max-content;

        @media (max-width: $breakpoint-md) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .footer-group {
        display: flex;
        flex-direction: column;
        text-align: left;
        margin-left: 4em;
        margin-right: 4em;

        @media (max-width: $breakpoint-md) {
            text-align: center;
            margin-bottom: 2em;
        }

        h4 {
            text-align: left;
            color: $description-color;
            font-size: small;
            font-weight: bold;

            @media (max-width: $breakpoint-md) {
                text-align: center;
            }
        }


        a {
            text-decoration: none;
            font-size: x-small;
            color: $description-color;
            font-size: small;
            padding-bottom: 1em;
        }
    }
}