@import "../styles/colors.scss";

.main-cta-root {
    max-width: 500px;
    text-align: center;
    margin: 0 auto;

    .main-cta-title {
        font-size: large;
        font-weight: bold;
    }

    .main-cta-description {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .main-cta-button {
        color: whie;
        border-color: black;
        background: black;

        &:hover {
            background: white;
            color: black;
        }
    }

    &, .landing {
        .main-cta-button {
            border: 2px solid $primary-color;
            background: white;
            color: $primary-color;

            &:hover {
                background: $primary-color;
                color: white;
            }
        }
    }
}
