@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.be-yourself-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .be-yourself-container {
        margin: 48px;
        font-size: 32pt;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: center;

        @media (max-width: $breakpoint-sm) {
            margin: 48px;
            flex-direction: column;
            font-size: 24pt;
        }

        .be-yourself-name {
            color: $primary-color;
            width: 18 0px;
            font-weight: bold;
            text-align: center;
        }

        .be-yourself-final {
            text-decoration: underline;
        }

        .in-japanese {
            display: none;
        }
    }

    .be-yourself-cta {
        max-width: 460px;
        color: $description-color;
        text-align: center;
    }
}