#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: var(--primary-color);
  border-top: 2px solid var(--secondary-color);
  padding-bottom: 4em;
}

#faq h2 {
  color: white;
}

#faq h3 {
  margin-top: 2em;
}

#faq h3:first-of-type {
  margin-top: 0;
}

#faq .response {
  padding: 0 2em 0 2em;
  max-width: 600px;
  color: white;
}