.screenshot-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .screenshot-section {
    flex-direction: column-reverse;
    margin: 0;
  }
}

.screenshot-section .screenshot {
  width: 1400px;
  margin: 64px 0;
}

@media (max-width: 1400px) {
  .screenshot-section .screenshot {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .screenshot-section .screenshot {
    max-height: 500px;
    max-width: 350px;
  }
}

.screenshot-section .features {
  display: flex;
  flex-direction: row;
  list-style: none;
  max-height: 300px;
  color: var(--description-color);
  padding: 0;
}

@media (max-width: 767px) {
  .screenshot-section .features {
    margin-left: 0;
    text-align: center;
    max-width: none;
    align-items: center;
    flex-direction: column;
    max-height: fit-content;
    width: 100%;
  }
}

.screenshot-section .features b {
  color: var(--tertiary-color);
  font-size: larger;
}

@media (max-width: 767px) {
  .screenshot-section .features b {
    display: block;
    margin-bottom: 12px;
  }
}

.screenshot-section .features h2 {
  text-align: left;
  margin: 0 0 24px 0;
}

@media (max-width: 767px) {
  .screenshot-section .features h2 {
    text-align: center;
  }
}

.screenshot-section .features > * {
  text-align: center;
  max-width: 250px;
  margin: 24px;
  box-shadow: 8px 8px 16px gainsboro;
  padding: 36px;
  border: 1px solid gainsboro;
  border-radius: 8px;
  background: white;
}