@import "../../styles/colors.scss";
@import "../../styles/breakpoints.scss";

.platforms-root {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        font-weight: lighter;
    }

    .platforms {
        display: flex;
        flex-direction: row;
        align-items: center;

        @media (max-width: $breakpoint-sm) {
            flex-direction: column;
        }
    }

    .android-platform-container {
        max-height: 80px;
    }

    .apple-platform-container {
        max-height: 54px;
        margin-right: 14px;

        @media (max-width: $breakpoint-sm) {
            margin-right: 0;
            margin-bottom: 14px;
        }
    }

    .microsoft-platform-container {
        max-height: 52px;
        margin-right: 14px;

        @media (max-width: $breakpoint-sm) {
            margin-right: 0;
            margin-bottom: 18px;
        }
    }

    .web-button {
        text-decoration: none;
        background: black;
        color: white;
        border-radius: 6px;
        border: 1px solid gray;
        padding: 14px 10px 10px 10px;
        font-size: 16pt;
        height: 26px;
        margin-top: -5px;
        min-width: 136px;
        text-align: center;
        font-weight: 600;
        font-family: sans-serif;
      }

      .description {
          margin: 2em;
          color: $description-color;
          text-align: center;
      }
}